.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 14px 24px;
}

.title {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  color: $text-color;
}

.accordionToggle {
  background-color: transparent;
  border: none;
  width: 8px;
  aspect-ratio: 1;
  border-top: 2px solid $text-color;
  border-left: 2px solid $text-color;

  &[aria-expanded="true"] {
    transform: rotate(225deg);
  }

  &[aria-expanded="false"] {
    transform: rotate(45deg);
  }
}
