// ui/_colors.scss

$primary-color: #88c738; //main color
$secondary-color: #78ca11; // discount color
$tertiary-color: #76ad30; // footer color
$third-level-categories-background-color: #e7eede; // background color of main menu categories
$background-color: #ededed; // page background
$text-color: #000000;
$text-color-light: #00000099; //black 60%
$field-border-color: #00000033; //black 20%
$button-border-gray-color: #868686;
$error-color: #ff0000;
