// ui/_colors.scss

$primary-color: #88C738; //main color
$secondary-color: #78CA11; // discount color
$tertiary-color: #76AD30; // footer color
$third-level-categories-background-color: #E7EEDE; // background color of main menu categories
$background-color: #EDEDED; // page background
$text-color: #000000;
$text-color-light: #00000099; //black 60%
$field-border-color: #00000033; //black 20%
$button-border-gray-color: #868686;
$error-color: #FF0000;