.title {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  color: $text-color;
  padding: 14px 24px;
  position: relative;

  &.has-children::after {
    content: "";
    width: 6px;
    aspect-ratio: 1;
    border-top: 2px solid $text-color;
    border-left: 2px solid $text-color;
    transform: translateY(-50%) rotate(135deg);
    position: absolute;
    top: 50%;
    right: 16px;
  }

  @media (max-width: $mobile-breakpoint) {
    & {
      // border-radius: 12px;
      // padding-right: 16px;

      &.has-children::after {
        transform: translateY(-50%) rotate(225deg);
      }
    }
  }
}
