.container {
  border-radius: 6px;
  padding: 11px 13px;
  border: 1px solid $field-border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: $transition;
  cursor: pointer;

  &.selected,
  &:hover {
    border-color: $primary-color;
  }

  & > span:first-child {
    width: 16px;
    min-width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
  }
}
