@import "../variables/_colors.scss";
@import "../variables/_global.scss";

.container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    text-decoration: none;

    img{
        width: 57px;
        height: auto;

        @media (max-width: $mobile-breakpoint) {
            & {
                width: 40px;

            }
        }
    }

    span{
        font-size: 20px;
        line-height: 25px;
        color: $text-color;
        font-weight: 400;
    }
}