.container {
  margin-top: 4px;
  width: 100%;
  border-radius: 12px;
  max-height: calc(100vh - 200px);
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  box-shadow: 0px 26px 55.4px -31px #00000080;
  overflow: auto;

  &.active {
    opacity: 1;
    z-index: 99;
  }

  &.inactive {
    opacity: 0;
    z-index: -4;
  }

  @media (max-width: $mobile-breakpoint) {
    & {
      display: flex;
    }
  }
}

.accordionContent {
  padding: 0 24px;
  font-size: 14px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  width: 100%;
  background-color: $third-level-categories-background-color;

  &[aria-hidden="false"] {
    height: auto;
    opacity: 1;
    visibility: visible;
    padding: 12px 24px;
  }
}
